html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem; /* Adjust the gap as needed */
  padding: 10px; /* Optional: Add padding around the entire container */
  height: 100vh; /* Full viewport height */
  box-sizing: border-box; /* Include padding in the height calculation */
}